# Copyright (c) 2025 Telefonaktiebolaget LM Ericsson
# ScrumMate Infrastructure Kustomization

apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: infrastructure
  namespace: flux-system
spec:
  interval: 10m
  sourceRef:
    kind: GitRepository
    name: scrummate-repo
  path: "./gitops/infrastructure"
  prune: true
  wait: true
  timeout: 5m
  dependsOn:
    - name: flux-system
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: cert-manager
      namespace: cert-manager
    - apiVersion: apps/v1
      kind: Deployment
      name: ingress-nginx-controller
      namespace: ingress-nginx
  postBuild:
    substitute:
      cluster_name: "scrummate-cluster"
      cluster_region: "us-west-2"
