apiVersion: v1
kind: Service
metadata:
  name: scrummate-backend-service
  labels:
    app: scrummate-backend
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: scrummate-backend
