apiVersion: v1
kind: Service
metadata:
  name: scrummate-db-service
  labels:
    app: scrummate-db
    component: database
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: scrummate-db
  clusterIP: None
