apiVersion: v1
kind: Service
metadata:
  name: scrummate-frontend-service
  labels:
    app: scrummate-frontend
    component: frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: scrummate-frontend
  sessionAffinity: None
